<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liar.server.mapper.UserMapper">
	<select id="findByKeyAndPassword" parameterType="java.util.Map"
		resultType="com.liar.server.entity.UserEntity">
		SELECT * FROM user
		WHERE
		delete_flag = false
		AND password = #{password}
		<if test="phoneNumber != null">
			AND phone_number = #{phoneNumber}
		</if>
		<if test="emial != null">
			AND email = #{email}
		</if>
	</select>
	<select id="findById" parameterType="java.lang.String"
		resultType="com.liar.server.entity.UserEntity">
		SELECT * FROM user
		WHERE
		user_id = #{userId}
	</select>
	<select id="findByPhone" parameterType="java.lang.String"
		resultType="com.liar.server.entity.UserEntity">
		SELECT * From user
		WHERE
		phone_number = #{phoneNumber}
	</select>
</mapper>